.navbar-brand {
  margin-top: -14px;
  padding-bottom: 9px;
}

.jumbotron {
  width: 100%;
  height: 230px;
  background-image: url(../images/keyboard.jpg);
}

.sub-nav {
  margin-top: -30px;
  max-height: 65px;
}

.sub-nav-items {
  margin-left: 34%;
  margin-top: -9px;
}

.seed-commits {
  list-style-type: none;
}

.commit-tabs {
  margin-left: 20%;
}
